%h2 Plays per month
%canvas#chart-per-month{:width => 1000, :height => 400}

%h2 Plays per day
%canvas#chart-per-day{:width => 1000, :height => 200}

%h2 Plays per artist
= bootstrap_form_tag url: '#', method: :GET do |f|
  = f.text_field :artist, hide_label: true, placeholder: 'Artist name'

%canvas#chart-artist{:width => 1000, :height => 400, :style => 'display: none;'}